@page
@model ejercicios_razor.Pages.AleatoriosModel
@{
	ViewData["Title"] = "Estadísticas de Números Aleatorios";
}

<h1 class="text-center text-light">Estadísticas de Números Aleatorios</h1>
<br />

<div class="row">
	<div class="col-sm-6">
		<div class="card" style="background: #31363f">
			<div class="card-header">
				<h2 class="text-light text-center">Arreglo Aleatorio:</h2>
			</div>
			<div class="card-body text-light">
				<ul class="">
					@foreach (var numero in Model.Numeros)
					{
						<li class="">@numero</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card text-light" style="background: #31363f">
			<div class="card-header">
				<h2 class="text-center">Arreglo Ordenado:</h2>
			</div>
			<div class="card-body">
				<ul class="">
					@foreach (var numero in Model.NumerosOrdenados)
					{
						<li class="">@numero</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-sm-3">
		<div class="card text-light" style="background: #31363f">
			<div class="card-header">
				<h2 class="">Suma:</h2>
			</div>
			<div class="card-body">
				<p class="">@Model.Suma</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card text-light" style="background: #31363f">
			<div class="card-header">
				<h2 class="">Promedio:</h2>
			</div>
			<div class="card-body">
				<p class="">@Model.Media</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card text-light" style="background: #31363f">
			<div class="card-header">
				<h2 class="">Mediana:</h2>
			</div>
			<div class="card-body">
				<p class="" style="color: #fff">@Model.Mediana</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card text-light" style="background: #31363f">
			<div class="card-header">
				<h2 class="">Moda:</h2>
			</div>
			<div class="card-body">
				<ul>
					@foreach (var numero in Model.Moda)
					{
						<li class="">@numero</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>